body {
    background-color: white;
    
  
}
section {
    background-color: white;
    height: 18em;
    width: 13em;
    display: inline-block ;
    margin: 1% 1%;
    padding: 6% 6%;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: solid 5px #38B4FC;
}
header{
    background-color:#38B4FC;
    
}

nav { 
height: 5.59em;
width: 99.8%;
background-color: #38B4FC;
display: inline-block;
text-align: center;
padding: 0;
}

footer {
    background-color: #38B4FC;
    width: 100%;
    height: 16em;
    
}

h1 {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 600;
    background-color:#38B4FC;
    margin-left: 0%;
    unicode-range: white;
    }

ul {
    background-color: hotpink;
    width: 97%;
}

li {
    background-color: hotpink;
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 15px;
}

a { 
    color: white;
}